/* VARIÁVEIS GLOBAL*/
 .bg-color-one {
     background-image: linear-gradient(to right, var(--cor3), var(--cor4));
 }

 :root {
    --cor0: #64069A;
    --cor1: #9860B8;
    --cor2: #A778C3;
    --cor3: #4484b871;
    --cor4: #74c07c9f;
    --cor5: #fff;
    --cor6: #000;
    /* Cores teclas */
    --cor7: #1C1C25;
    --cor8: #241653;
    --cor9: #4f3b9971;
    --cor10: #673AE1;
    --cor11: #9C7CF8;
}




/* CONTAINER DO TECLADO OPÇÃO UM*/
/*
.container-teclado {
    border: 1px solid var(--cor6);
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--cor9), var(--cor3), var(--cor4));
    box-shadow: 3px 3px 12px var(--cor6);
}
*/
/* TECLAS OPÇÃO UM */
/*
.teclado {
    font-weight: bold;
    color: var(--cor6);
    border: 1px solid var(--cor6);
    padding: 3px;
    margin: 3px;
    width: 2em;
    height: 2.3em;
    text-align: center;
    border-radius: 4px;
    background-image: linear-gradient(to left, var(--cor9), var(--cor3), var(--cor4) );
    box-shadow: 3px 3px 6px var(--cor6);
    cursor: pointer;
}
*/
 /* OPÇÃO UM */
 /*
.teclado:hover {
    background-image: linear-gradient(to right, var(--cor9), var(--cor3), var(--cor4));
}
 */
 .container-teclado {
    border: 1px solid var(--cor6);
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 3px 3px 12px var(--cor6);
}


 .teclado {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.747);
    border: 1px solid var(--cor6);
    padding: 3px;
    margin: 3px;
    width: 2em;
    height: 2.3em;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.048);
    box-shadow: 3px 3px 6px var(--cor6);
    cursor: pointer;
}
.teclado:hover {
    background-image: linear-gradient(to right, var(--cor9), var(--cor3), var(--cor4));
}

/* Para telas de até 332px */
@media screen and (max-width: 332px) {
    .teclado {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.747);
        border: 1px solid var(--cor6);
        font-size: .9em;
        margin: 1px;
        width: 1.2em;
        height: 2em;
        text-align: center;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.048);
        box-shadow: 1px 2px 4px var(--cor6);
        cursor: pointer;
    }
  }